/*---------------Animation Icon------------------*/
.site__footer .wp-block-social-link {
    animation: animHotel 3s infinite;
}
#block-15 li{
animation: animAvion 3s infinite;
}


/* Animation Hotel*/
@keyframes animHotel {
    0%,
    10% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}
@keyframes animAvion {
    from {
        transform: translateY(-5vh) scale(0.90, 1.1);
        animation-timing-function: cubic-bezier(0.725, 0, 1, 0.685);
    }

    93% {
        transform: translateY(7vh) scale(1, 1);
        animation-timing-function: cubic-bezier(0, 0.685, 0.725, 1);
    }

    to {
        transform: translateY(7vh) scale(1.3, 0.7);
        
    }
}