.site__footer{
  font-family: $font__titre;
  background-color: $color__background-footer;
  color : $color__font-footer;
  padding: 15px;
  
 
  &__colonne{ // .site__footer__colonne
    display: flex;
    justify-content: center;
    row-gap: 5%;
    flex-wrap: wrap;
   
    section{ // .site__footer__colonne section
      display: flex;
      flex-direction: column;
      //border : 1px solid #aaa;
      background-color: rgba(97, 97, 97, 0.829);
      flex : 0 0 30%;
      width: 20vw;
      padding-top: 10px ;
      
      
    }
    // .footer__adresse{ // .site__footer__colonne  .footer__adresse
      .footer__adresse{
        display: flex;
        justify-content: flex-start;
        
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        #pied_page_colonne_1{
          display: flex;
          flex-direction: column;
          align-items: center;

          #block-7,#block-10{
            width: 70px;
          }
          
          
         
           
           

         
        }
        
        
      }

    // }
    .footer__article{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
    .footer__lien{
      #block-20{
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  &__ligne{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(.9rem, 50vw, 1rem);
    section{
      
    }
  
    .footer__menu{
      &__nav{ // .site__footer__menu__nav


        &__ul{ // .site__footer__menu__nav__ul
            display : flex;
            list-style-type: none;
            justify-content: center;
            padding: 0;
            .menu-item { // .site__footer__menu__ul .menu-item
                margin : 10px 5px;
              a{ // .site__footer__menu__ul .menu-item a
                display : flex;
                align-items: center;
                padding : 3px;
                  svg { // .site__footer__menu__ul .menu-item a svg
                    color: $color__link__footer;
                  }
             
                &:hover {
                  svg { // .site__footer__menu__ul .menu-item a svg
                    color: $color__link__footer-hover;
                  }
                }
              }
            }    
         }
      }

    }
   
  }
}


