.boite__modale{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 23%;
    border: 5px solid black;
    background-color: rgb(68, 153, 187);
    transform: scale(0);
    transition: all 1s ease-out;

    // &--ouvrir {
    //     transform : scale(1)
    // }

    .boite__modale__texte{
      
    }
  }
  .ouvrir{
    transform : scale(1)

  }