.boite__modale{
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 23%;
    border: 5px solid black;
    background-color: rgb(185, 217, 230);
    transform: scale(0);
    transition: all 1s ease-out;
   
    // &--ouvrir {
    //     transform : scale(1)
    // }

    .boite__modale__texte{
      
    }
  }
  .ouvrir{
    transform : scale(1)

  }
  .ouvrir:hover{
    animation:modale 2s infinite;
    animation-delay: 1s;
  }

  @keyframes modale {
    0%,
    10% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
        border: 5px solid azure;
    }
    100% {
        transform: scale(1);
    }
}
