
#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
    z-index: 1;
}

#chk-burger {
    display : none;
}
// .menu-principale-container{
//     display: none;
// }
#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principale-container {
    display : none;
    
}
#chk-burger:checked ~ .menu-principale-container {
    display : block;
    transform:scale(1);


}




.menu-principale-container{
    padding :30px 0 0 0;
    background-color: $color__background-link;
    
    

    .menu{
        list-style-type: none;
        margin : 0;
    
    }
    .menu-item{
        margin:0;
        padding : 0;
        a{
            display : block;
            text-decoration: none;
            padding : 4px;
         
            &:hover {
                background-color: $color__background-link-hover;
            }
        }
    }
}

@media screen and (min-width : $largeur__media--tablette){
   .site #burger {
        display : none;
    }
    .site .menu-principale-container {
        display : block;
    }
       
     
        .home #burger {
            display : block;
            
            z-index: 1;
        }
        .home .menu-principale-container {
            display : none;
            
        }
        .home #chk-burger:checked ~ .menu-principale-container {
            display : block;
            
            
        

    }
    

    
    
    
    
    


    
}








